<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
</head>
<body style="font-family: 'Noto Sans', sans-serif;">

	<table width="600px" style="margin:0 auto; padding:0;" border="0" cellspacing="0"> 
		<tr>
			<td>
				<table style="width: 100%; background:#ffffff;margin:0 auto;" cellspacing="0" border="0">
					<tr style="text-align:center;">
						<td style="margin: 0; padding:0;"><img src="$server/img/template/banner-header-solicitud.jpg" style="width:100%; max-width:600px; margin:0;" ></td>
					</tr>
                    <tr style="text-align:center;">
						<td style="background:#B90000; color:#ffffff; margin: 0; padding:0;"><p>Error de plataforma</p></td>
					</tr>  
					<tr>
						<td>
							<table style="width:500px;margin:0 auto; text-align:left; padding-top:30px;" cellspacing="0">
                                <tr>
									<td style="border: 1px solid #90A4AE; padding:0; width:150px; background: #CFD8DC;"><p style="margin:5px; color: #263238; font-size:15px;"><strong>Fecha:</strong></p></td>
									<td style="border: 1px solid #90A4AE; padding:0; width:350px; background: #ECEFF1;"><p style="margin:5px; color: #263238; font-size:15px;">$fecha</p></td>
								</tr>
                                <tr>
									<td style="border: 1px solid #90A4AE; padding:0; width:150px; background: #CFD8DC;"><p style="margin:5px; color: #263238; font-size:15px;"><strong>Error:</strong></p></td>
									<td style="border: 1px solid #90A4AE; padding:0; width:350px; background: #ECEFF1;"><p style="margin:5px; color: #263238; font-size:15px;">$error</p></td>
								</tr>
							</table>
						</td>
					</tr>
					
					<tr>
						<td>
							<hr style="width:100%; max-width: 550px; color: #90A4AE;" />
						</td>
					</tr>
					<tr>
						<td>
							<p style="text-align: center; font-size: 10px; color: #90A4AE;">
								<span >AUTOPAGOS.CO SAS // MEDELLÍN-COLOMBIA</span>
							</p>
						</td>
					</tr>
				</table>
			
			</td>
		</tr>     
	</table>

</body>
</html>


