<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
</head>
<body style="font-family: 'Noto Sans', sans-serif;">

	<table width="600px" style="margin:0 auto; padding:0;"> 
		<tr>
			<td>
				<table style="width: 100%; background:#ffffff;margin:0 auto;">
					<tr style="text-align:center;">
						<td><img src="$server/img/template/banner-header-bienvenida-usuario.jpg" style="width:100%; max-width:600px; " ></td>
					</tr> 
					<tr>
						<td style="text-align:center; padding-left: 15px; padding-right: 15px;"><p style="font-size:30px; color:#583BF7; "><strong>Te damos la Bienvenida!</strong></p>
							<p style="text-align: justify; font-size: 14px;"> <span style="color:#2196F3;">$nomUser</span>, estamos listos para ayudarte gestionar tus pagos de una forma eficiente. A continuación te compartimos tus datos de acceso a nuestra herramienta de pagos:</p>
						</td>
					</tr>
					<tr>
						<td>
							<table style="width:500px;margin:0 auto; text-align:left;" cellspacing="0">
								<tr>
									<td style="border: 1px solid #90A4AE; padding:0; width:100px; background: #CFD8DC;"><p style="margin:5px; color: #263238; font-size:15px;"><strong>Email:</strong></p></td>
									<td style="border: 1px solid #90A4AE; padding:0; width:400px; background: #ECEFF1;"><p style="margin:5px; color: #263238; font-size:15px;">$emailComercio</p></td>
								</tr>
								<tr>
									<td style="border: 1px solid #90A4AE; padding:0; width:100px; background: #CFD8DC;"><p style="margin:5px; color: #263238; font-size:15px;"><strong>Contrasena:</strong></p></td>
									<td style="border: 1px solid #90A4AE; padding:0; width:400px; background: #ECEFF1;"><p style="margin:5px; color: #263238; font-size:15px;">$contrasenaUsuario</p></td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td>
							<table style="width:500px;margin:30px auto; text-align:left;" cellspacing="0">
								<tr>
									<td rowspan="2"><img src="$server/img/etmplate/alert-icon-email.png"></td>
								</tr>
								<tr>
									<td style="padding:0;"><p style="margin:0px 15px; color: #263238; font-size:12px; text-align:justify;">Si surge alguna duda puedes comunicarte con nuestro equipo de soporte escribiendo a <span style="color: #F57C00; text-decoration: none;">soporte@autopagos.co.</span></p></td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td style="text-align: center;" colspan="4">
							<a href="http://www.autopagos.co/app"><img src="$server/img/template/banner-promo-app-email.jpg" style="width:100%; max-width:550px; margin-top: 30px; " ></a>
						</td>
					</tr>
					<tr>
						<td>
							<table width="550px" style="background:#ffffff; margin:0 auto;">
								<tr>
									<td style="text-align: center; width:450px">
										<p style="margin-top: 0px;"><a href="http://autopagos.co" style="color:#F57C00; text-decoration:none;  font-size: 13px; ">www.autopagos.co</a></p>
									</td>
									<td style="text-align: center;">
										<a href="https://www.instagram.com/autopagos/"><img src="$server/img/template/icon-instagram-email.png" style=" margin-top: 0px;" ></a>
									</td>
									<td style="text-align: center;">
										<a href="https://www.instagram.com/autopagos/"><img src="$server/img/template/icon-youtube-email.png" style=" margin-top: 0px;" ></a>
									</td>
									<td style="text-align: center;">
										<a href="https://www.instagram.com/autopagos/"><img src="$server/img/template/icon-facebook-email.png" style=" margin-top: 0px;" ></a>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td>
							<hr style="width:100%; max-width: 550px; color: #90A4AE;" />
						</td>
					</tr>
					<tr>
						<td>
							<p style="text-align: center; font-size: 10px; color: #90A4AE;">
								<span >AUTOPAGOS.CO SAS // MEDELLÍN-COLOMBIA</span>
							</p>
						</td>
					</tr>
				</table>
			
			</td>
		</tr>
		          
	</table>

</body>
</html>


