<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    </head>
    <body style="font-family: 'Noto Sans', sans-serif;">

        <table width="600px" style="margin:0 auto; padding:0;" border="0" cellspacing="0"> 
            <tr>
                <td> 
                    <table style="width: 100%; background:#ffffff;margin:0 auto;" cellspacing="0" border="0">
                        <tr style="text-align:center;">
                            
                            <td style="margin: 0; padding:0;"><img src="$server/img/template/banner-header-solicitud.jpg" style="width:100%; max-width:600px; margin:0;" ></td>
                        </tr>
                        <tr style="text-align:center;">
                            <td style="background:#F57C00; color:#ffffff; margin: 0; padding:0;"><p>Solicitud de pago</p></td>
                        </tr>  
                        <tr>
                            <td style="text-align:center; padding-left: 15px; padding-right: 15px; margin-top:20px;">
                                <p style="text-align: justify; font-size: 14px;">Valoramos tu tiempo cuando te informamos que tienes una nueva solicitud de pago. A continuación te entregamos información relevenante para tu pago:</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table style="width:500px;margin:0 auto; text-align:left;" cellspacing="0">
                                    <tr>
                                        <td style="border: 1px solid #90A4AE; padding:0; width:150px; background: #CFD8DC;"><p style="margin:5px; color: #263238; font-size:15px;"><strong>Comercio:</strong></p></td>
                                        <td style="border: 1px solid #90A4AE; padding:0; width:3500px; background: #ECEFF1;"><p style="margin:5px; color: #263238; font-size:15px;">$nombre-convenio</p></td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid #90A4AE; padding:0; width:150px; background: #CFD8DC;"><p style="margin:5px; color: #263238; font-size:15px;"><strong>Referencia:</strong></p></td>
                                        <td style="border: 1px solid #90A4AE; padding:0; width:350px; background: #ECEFF1;"><p style="margin:5px; color: #263238; font-size:15px;">$referencia</p></td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid #90A4AE; padding:0; width:150px; background: #CFD8DC;"><p style="margin:5px; color: #263238; font-size:15px;"><strong>Valor:</strong></p></td>
                                        <td style="border: 1px solid #90A4AE; padding:0; width:3500px; background: #ECEFF1;"><p style="margin:5px; color: #263238; font-size:15px;">$total</p></td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid #90A4AE; padding:0; width:150px; background: #CFD8DC;"><p style="margin:5px; color: #263238; font-size:15px;"><strong>Fecha:</strong></p></td>
                                        <td style="border: 1px solid #90A4AE; padding:0; width:350px; background: #ECEFF1;"><p style="margin:5px; color: #263238; font-size:15px;">$fecha</p></td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid #90A4AE; padding:0; width:150px; background: #CFD8DC;"><p style="margin:5px; color: #263238; font-size:15px;"><strong>Vence:</strong></p></td>
                                        <td style="border: 1px solid #90A4AE; padding:0; width:350px; background: #ECEFF1;"><p style="margin:5px; color: #263238; font-size:15px;">$fecha-vencimiento</p></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr style="width:90px;">
                            <td style="text-align:center; "><p style="margin-top: 40px;"><a href="$link" style="padding:10px 15px 10px 15px; background:#F57C00;color:#ffffff; text-decoration:none;  border-radius: 50px; font-size: 13px; ">Pagar ahora</a></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table style="width:500px;margin:30px auto; text-align:left;" cellspacing="0">
                                    <tr>
                                        <td rowspan="2"><img src="$server/img/template/alert-icon-email.png"></td>
                                        <td style="padding:0;"><p style="margin:0px 15px; color: #263238; font-size:12px; text-align:justify;">Si surge alguna duda sobre la solicitud de pago puedes comunicarte con el comercio</p></td>

                                    </tr>
                                    <tr>
                                        <td style="padding:0;"><p style="margin:0px 15px; color: #263238; font-size:9px; text-align:justify;">Si surge alguna duda en el proceso de pago comunicarte con nuestro equipo de soporte escribiendo a <span style="color: #F57C00; text-decoration: none;">soporte@autopagos.co.</span></p></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;" colspan="4">
                                <a href="http://www.autopagos.co/app"><img src="$server/img/template/banner-promo-app-email.jpg" style="width:100%; max-width:550px; margin-top: 30px; " ></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table width="550px" style="background:#ffffff; margin:0 auto;">
                                    <tr>
                                        <td style="text-align: center; width:450px">
                                            <p style="margin-top: 0px;"><a href="http://autopagos.co" style="color:#F57C00; text-decoration:none;  font-size: 13px; ">www.autopagos.co</a></p>
                                        </td>
                                        <td style="text-align: center;">
                                            <a href="https://www.instagram.com/autopagos/"><img src="$server/img/template/icon-instagram-email.png" style=" margin-top: 0px;" ></a>
                                        </td>
                                        <td style="text-align: center;">
                                            <a href="https://www.instagram.com/autopagos/"><img src="$server/img/template/icon-youtube-email.png" style=" margin-top: 0px;" ></a>
                                        </td>
                                        <td style="text-align: center;">
                                            <a href="https://www.instagram.com/autopagos/"><img src="$server/img/template/icon-facebook-email.png" style=" margin-top: 0px;" ></a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <hr style="width:100%; max-width: 550px; color: #90A4AE;" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="text-align: center; font-size: 10px; color: #90A4AE;">
                                    <span >AUTOPAGOS.CO SAS // MEDELLÍN-COLOMBIA</span>
                                </p>
                            </td>
                        </tr>
                    </table>

                </td>
            </tr>

        </table>
        <img src="$server/emailtracker.gif?token=$token&id=$id">
    </body>
</html>


